<div class="modal">
    <ion-header-bar class="bar-stable" align-title="center" ng-style="{'background-color': viewColor}">
        <h1 class="title">Your Orders</h1>
        <button class="button button-icon" ng-click="closePaymentModal()">
            <i class="icon ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="list">
                <a class="item" href="#">
                    Payment
                </a>
            </div>
        </div>
    </ion-content>
</div>
