<ion-header-bar class="bar-stable" style="background:transparent;padding-left: 15px;padding-right: 15px;border: 0;">
    <!--<h1 class="title">You are currently logged off</h1>-->
</ion-header-bar>
<ion-content style="top:0px;">
    <div style="width: 40%;margin: auto;margin-top:88px; margin-bottom: 88px;">
        <img ng-src="{{authLogo.src}}" style="width: 100%;height: 100%;">
    </div>
    <div class="list list-inset">
        <div>
            <center>
                <p>Please type your registered phone number</p>
            </center>
        </div>
        <label class="item item-input">
            <i class="icon ion-iphone placeholder-icon"></i>
            <input type="tel" placeholder="Phone Number" ng-model="number">
        </label>
        <div>
            <center>
                <span ng-bind="response" style="color:#F16A6A"></span>
            </center>
        </div>
    </div>
    <div class="padding">
        <button class="button button-block button-positive activated btn" ng-click="signIn(number)">Register</button>
    </div>
</ion-content>
